<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466636501769-81jeplefalccui4hl583fuq7622d1f2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466636501769-81jeplefalccui4hl583fuq7622d1f2n</string>
	<key>API_KEY</key>
	<string>AIzaSyA8elzgqGjFgFUFx6F9CzcVVa0ZrWZU4BU</string>
	<key>GCM_SENDER_ID</key>
	<string>466636501769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mr.kelma.HEY</string>
	<key>PROJECT_ID</key>
	<string>hey-95a04</string>
	<key>STORAGE_BUCKET</key>
	<string>hey-95a04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466636501769:ios:af56ca6bd35bd2f8e4d9d8</string>
</dict>
</plist>